body
{
	font-family: "Arial", Sans-serif;
}
h1
{
	width: 100%;
	text-align: center;
}

h2
{
	width: 100%;
	text-align: center;
}

#startSelect
{
	width: 100%;
	font-size: 22px;
}

.diff_round
{
	margin: auto;
    width: 35%;
    text-align: center;
}

#start
{
	text-align: center;
	width: 100%;
	padding-top: 40px;
}

button#hexed
{
	font-size: 20px;
}

#gameBlock
{
	padding-left: 250px;
	padding-right: 250px;
	padding-top: 40px;
	width: -webkit-fill-available;
}

#theGame
{
	display: inline-block;
	width: 70%;
	height: 300px;
}

.ui-widget-content
{
	border: none;
}

#result_submit
{
	display: inline-block;
	float: right;
	width: 200px;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}

#result
{
	width: 150px;
	margin-left: 40px;
}

#colorBlock
{
	display: inline-block;
	float: right;
	width: 150px;
	height: 150px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 10px;
	background-color: grey; /*default color*/
}

input#checkIt
{
	display: inline-block;
	float: right;
	margin-right: 30px;
	font-size: 20px;
}

#timer
{
	position: absolute;
	top:20px;
	right: 150px;
	width: 100px;
	height: 100px;
	border: solid grey 2px;
	border-radius: 10px;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	line-height: 30px;
}


#red, #green, #blue, #red-input, #green-input, #blue-input {
	float: left;
	clear: left;
	width: 300px;
	margin: 15px;
}

#red .ui-slider-range { background: red; }
#red .ui-slider-handle { border-color: red; }
#green .ui-slider-range { background: green; }
#green .ui-slider-handle { border-color: green; }
#blue .ui-slider-range { background: blue; }
#blue .ui-slider-handle { border-color: blue; }